<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Argos beta</title>

    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

<div id="wrapper">

    <div id="trim"></div>

    <header id="hero">

        <div id="logo">
            <img src="/img/logo-a.png" alt="Googos">
        </div>

    </header>

    <section id="search">

        <div id="searchInner">
            <div class="searchIconWrap"><img src="/img/icon-search.png" alt="Search"></div>
            <form action="#">
                <input type="text" class="main-search" placeholder="Search..." value="{{startTerm}}">
                <div id="auto-complete"></div>
            </form>
        </div>

    </section>

    <section id="content">
    </section>


</div>


<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/js/scripts.js"></script>

</body>

</html>
