<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <title>Argos beta</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/reset.css">

</head>

<body>

    <div id="trim"></div>

    <header id="hero">

        <div id="logo">
            <img src="/img/logo-a.png" alt="Googos">
        </div>

        <section id="search">
            <div id="searchInner">
                <input type="text" class="mainSearch" placeholder="Beds under £250" value="{{startTerm}}">
                at
                <input type="text" class="storeSearch" placeholder="at any store" value="">
                <img class="searchIcon" width="32" height="32" src="/img/icon-search.png" alt="Search">
                <div id="storesAutocomplete"></div>
            </div>
        </section>
        <div id="searchHelp">Search by product, price and location</div>

    </header>



    <div id="categories"></div>   
    <div id="results"></div>   
  

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/unveil/jquery.unveil.min.js"></script>
<script src="/bower_components/sticky/jquery.sticky.js"></script>
<script src="/js/scripts.js"></script>

</body>

</html>
