/* CUSTOM CSS
   ========================================= */
img {
  display: block;
  height: auto;
  max-width: 100%;
}
#wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding-left: 0 20px;
}
#logo {
  width: 350px;
  height: 100px;
  margin: 60px auto 30px auto;
}
.form-control.main-search {
  height: 46px;
  padding: 6px 20px;
  margin-bottom: 10px;
}
#auto-complete {
  display: none;
  background: lime;
  padding: 20px;
}
