
/* MAIN CSS
   ========================================= */
body {
  background: #ebebeb;
  overflow-y:scroll;
}
#trim {
  height: 35px;
  width: 100%;
  background: #333333;
}
#hero {
  padding: 50px 0;
  width: 100%;
  background: #ffffff;
}
#logo {
  width: 107px;
  height: 141px;
  margin: 0 auto;
}
#search {
  height: 75px;
  width: 100%;
  background: #fff;
  font-size: 30px;
  z-index:1;
}
#search-sticky-wrapper.is-sticky #search {
    border-bottom: 2px #e32219 solid; 
}

#searchHelp,  #searchInner {
    max-width: 940px;
    margin: 0 auto;
    padding: 8px 20px 8px 0px;

}

#searchInner {
  position: relative;
}

.searchIcon {
  position: absolute;
  top: 24px;
  right: 0px;
}

input {
  padding: 11px 0 11px 11px;
  font-size: 30px;
  letter-spacing: 0.6px;
  border: solid 1px #c2c2c2;
}

input.mainSearch {
  width: 50%;
}

input.storeSearch {
  position: absolute;
  right: 40px;
  width: 40%;
}

#searchHelp {
    font-size:18px;
    font-style: italic;
}

#auto-complete {
  padding: 20px;
}
.searchResultBox {
  background: #fff;
  margin: 5px auto 0 auto;
  width:100%;
  max-width: 940px;
  position: relative;
  color: #111111;
  transition:opacity;
}

.outOfStock {
 opacity:0.5;
}

.searchResultBox img {
  margin: 5px 5px 5px 20px;
  width: 60px;
  height:72px;
}
.searchResultBox .description {
    margin: 0 0 5px 25px;
    position:absolute;
    top: 25px;
    display:inline-block;
}
.searchResultBox h3 {
  font-size: 16px;
}
.searchResultBox h3 em {
  font-weight: bold;
  font-style: normal;
}
.searchResultBox span {
  font-size: 18px;
  font-weight: bold;
}

#logo img {
    max-width: 100%;
}

.category {
    display:inline-block;
    margin-left: 0.8em;
}
.category button {
    margin-left: 0.2em;
}

#storesAutocomplete {
    position:absolute;
    right:0;
    z-index:1;
}

#storesAutocomplete {
    width:40%;
    background-color:white;
}


